@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tyafms');
  src:  url('../fonts/icomoon.eot?tyafms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tyafms') format('truetype'),
    url('..//fonts/icomoon.woff?tyafms') format('woff'),
    url('../fonts/icomoon.svg?tyafms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clean-theme:before {
  content: "\e902";
}
.icon-download-psd:before {
  content: "\e903";
}
.icon-fully-layerd-psd:before {
  content: "\e904";
}
.icon-ready-for-coding:before {
  content: "\e905";
}
.icon-responsive-design:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e901";
  color: #fff;
}
.icon-search:before {
  content: "\e900";
}
